
body {
  background-color: #ffffff;
  color: #383737;
  font-family: 'Cormorant Garamond', serif;
  
}

.navbar {
  background-color:white;

}
    #imgbutonlxl {
    width: 30%;
    }
#contienelogo{
  width: 90%;
  margin-right: 0px;
  
}
#logolxl {
  width: 20%;
  margin-left: auto;
  margin-right: auto;  
}

/* imagen portada */

.portada{
  margin-top: 50px;
  margin-bottom: 150px;
}






/* Sobre nosotros */
.contenedor-sn{
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0% 10%;
}

.sobre-nosotros{
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  color: #0000007e;
}
.deados{
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
}
.text-sobre-nosotros {  
  text-align: center;
  color: rgb(28, 28, 29);
  font-size: 28px;
}









/* Marketing */

.titulo-items{
  font-size: 24px;
  font-weight: 700;
}
.card-subtitulo{
  font-size: 22px;
  font-weight: 400;
}  
.text-items{
  font-size: 20px;
  font-weight: 400;
}
.italic{
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
}

.card-img{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.img-muebles{
  transition: 1s;
}
.img-muebles:hover{
  transform: scale(1.1);
}

.card-img > a{
  display: block;
  position: relative;
  overflow: hidden;
  
}
.light-box{
 
  top: 0;
  left: 0;
  background: #0000007e;
 /*  transition: transform .5s ease-in-out; */
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}

.light-box img{
  width: 50vw;
  max-height: 90vh;
}
.light-box:target{
  transform: scale(1);
}
.close{
  display: block;
  position: absolute;
  text-align: center;
  top: 40px;
  right: 50px;
  color: #fff;
  background: rgb(24, 23, 23);
  width: 40px;  
  height: 40px;
  text-decoration: none;
  line-height: 50px;
  border-radius: 50%;
}

.next{
  display: block;
  background:rgba(34, 33, 33, 0.726);
  color: #fff;
  height: 30px;
  width: 30px;  
  border-radius: 50%;
  line-height: 36px;  
  text-decoration: none;
  text-align: center;

}


/* contacto  */
.titulo-contacto{
  margin-top: 5%;
  font-size: 130%;

}

.texto-formulario{
  font-size: 100%;
}

.text-estamos{

  margin-top: 5%;
  font-size: 120%;
  margin-bottom: 30px;

}

/* REDES */
#redes{
color: rgb(247, 250, 255); 
background-color: rgba(9, 9, 10, 0.774);

}

.img-redes{
  cursor: pointer;

}

.img-redes:hover{
  border-radius: 50%;
  background-color: rgba(160, 160, 150, 0.116);
}

.google-map{

    width: 100%;
    height: 55vh;
    margin: 0 auto; 

}

#contacto{  
  color: rgb(247, 250, 255);
  background-color: rgba(17, 17, 20, 0.623);  
}

/* Footer */

#pie {
height: 80px;
color: #dfd5d57e;
background-color: rgb(9, 9, 10);
text-align: center;
font-size: 20px;
}

.text-potrero{
  color: #fd8905;
}


.redes{

}

/* MediaQueries */

@media screen and (min-width:769px){
  button{ 
    display: none;
  }
  button:hover{ 
      cursor: pointer;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.151);
  }
} 
@media screen and (max-width:768px){
  #contienelogo{ 
  display: none;
  }
  .sobre-nosotros{
    font-size: 30px;
  }
  .deados{
    font-size: 23px;
  }
  .text-sobre-nosotros{
    font-size: 20px;
  }

  .titulo-items{
    font-size: 25px;
    font-weight: 700;
  }
  .card-subtitulo{
    font-size: 23px;
    font-weight: 400;
  }  
  .text-items{
    font-size: 20px;
    font-weight: 400;
  }
  .italic{
    font-size: 22px;
    font-weight: 400;
    font-style: italic;
  }
  


}

@media screen and (max-width:425px){
  .sobre-nosotros{
    font-size: 25px;
  }
  .deados{
    font-size: 20px;
  }
  .text-sobre-nosotros{
    font-size: 18px;
  }


  .titulo-items{
    font-size: 28px;
    font-weight: 700;
  }
  .card-subtitulo{
    font-size: 24px;
    font-weight: 400;
  }  
  .text-items{
    font-size: 22px;
    font-weight: 400;
  }
  .italic{
    font-size: 22px;
    font-weight: 400;
    font-style: italic;
  }
  #pie {
    height: 150px;
    color: #dfd5d57e;
    background-color: rgb(9, 9, 10);
    text-align: center;
    font-size: 20px;
    }
  

} 

@media screen and (max-width:320px){
  /* .titulo-portada2{ 
  font-size: 100%;
  margin-top: -20px;
  }
  .text-portada2{
  margin-top: -5px; 
  font-size: 10px;
  } */

}









